* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background: rgb(57, 53, 53);
    height: 80px;
    width: 100%;
}

.enlace {
    position: absolute;
    padding: 20px 50px;
}

.logo {
    height: 40px;
}

nav ul {
    float: right;
    margin-right: 0px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a.active,
li a:hover {
    background: orange;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* section {
    background: url(fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
} */

@media (max-width: 952px) {
    .enlace {
        padding-right: 20px;
    }

    nav ul li a {
        font-size: 16px;
    }
    h1{
        padding-top: 100px;
    }
}

@media (max-width: 858px) {
    #caja{
        width: 350px;
        /* height: 450px; */
    }
    #imagen{
        width: 250px;
    }
    .checkbtn {
        display: block;

    }
    nav{
        position: fixed;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        right: -100%;
        text-align: center;
        transition: all .5s;
    }
    
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    
    nav ul li a {
        font-size: 20px;
    }
    
    li a:hover,
    li a.active {
        background: none;
        color: orange;
    }
    
    #check:checked~ul {
        right: 0;
    }
}

/* ================================== */
body {
    background-color: #f1debb;
    text-align: center;
    display: block;
}

form {
    padding: 8px;
    margin: 8px;
    justify-content: center;
    border-width: 8%;
    border-style: solid;
    background-color: #b3b3c4;
    font-family: "Times New Roman";
    font-size: 25px;
}

#factura {
    padding: 8px;
    margin: 8px;
    border-width: 8%;
    border-style: solid;
    background-color: #dfdfef;
    font-family: "Times New Roman";
    font-size: 25px;
}


#comprar {
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    height: 50px;
    width: 100px;
}

select {
    height: 40px;
    width: 160px;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    color: white;
    text-align: center;
}

select:hover {
    /* color: white; */
    /* text-decoration: underline; */
    background-color: black;
    color: orange;
}



#comprar:hover {
    color: white;
    /* text-decoration: underline; */
    background-color: orange;
    text-transform: uppercase;
}

input:hover {
    background-color: orange;
    height: 30px;
}

#caja{
    margin: 8px;
    padding: 8px;
    border-style: solid;
    border-width: 8px;
    background-color: #b3b3c4;
    border-radius: 8px;
    /* height: 450px;
    width: 1000px; */
    border-color: #004cff77;
}

#aceptar{
    background-color: blue;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    height: 50px;
    width: 100px;
}

#cancelar{
    background-color: gray;
    border-radius: 8px;
    height: 50px;
    width: 100px;
}

/* img {
    height: 200px;
    width: 350px;
} */